<?xml version="1.0"?>

<launch>
    <node name="twist_to_motors" pkg="diff_drive" type="twist_to_motors.py">
        <param name="~base_width" type="double" value="0.25"/>
        <param name="~rate" type="int" value="40"/>
        <param name="~timeout_ticks" type="int" value="1"/>
    </node>

     <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find diff_drive)/config/view.rviz" />

    <node name="transform_tf" pkg="diff_drive" type="diff_tf.py">
        <param name="~base_frame_id" type="string" value="base_link"/>
        <param name="~odom_frame_id" type="string" value="odom"/>
        <param name="~rate" type="double" value="5"/>
        <param name="ticks_meter" type="int" value="16160"/>
        <param name="~base_width" type="double" value="0.25"/>
        <param name="encoder_min" type="int" value="-32768"/>
        <param name="encoder_max" type="int" value="32768"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="0.2245 0.0 0.2 -1.57 0.0 0.0 /base_link /laser_frame 40"/>
  
  <!---->
    <include file="$(find chaffe_navigation)/launch/gmapping.launch"/>
    <include file="$(find chaffe_navigation)/launch/move_base.launch"/>



</launch>