<?xml version="1.0"?>
<launch>
<node name="auto_bot" pkg="auto_bot_gui" type="auto_bot_gui"/>
<node name="twist_to_motors" pkg="diff_drive" type="twist_to_motors.py"/>
</launch>

<!-- <machine name="ubuntu" user="ubuntu" password="parol5656" address="192.168.0.12" timeout="30"/>
    <node pkg="stm_transmit" name="stm_transmit" type="stm_transmit.py" machine="ubuntu"/> -->
<!-- default="true" env-loader="/opt/ros/noetic/env.sh" -->
